.block_task{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.task_panel{
	width: calc(50% - 60px);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 30px;
 border-bottom-left-radius:20px;
            border-bottom-right-radius: 20px;
    
	
	 background: linear-gradient(to top, rgba(0, 164, 60, 0.2), rgba(0, 164, 60, 0));
	box-shadow: 0 10px 20px -10px rgba(0, 164, 60, 0.2);
	
	
}


.block_task h2{
	
	font-size: 20px;
	font-weight: 800;
	color: #00a43c;
	padding-bottom: 20px;
margin-left: 40px;
	margin-top: 30px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}



.block_task h2:hover img {
    transform: scale(1.1);
}



.block_task .task_img{
	
	 width: 80%;
	margin: auto;
    max-width: 80%;
    height: auto;
  border-radius: 20px;
		box-shadow: 10px 20px 30px -2px rgba(0, 164, 60, 0.4);
	
	transition: transform 0.3s ease;
}

.block_task .task_img:hover {
    transform: scale(1.05);
	border-radius: 20px;
}

@media (max-width: 1400px) {
	
	
		.block_task .task_img{
	
	 width: 95%;
	margin: auto;
    max-width: 95%;
    height: auto;
  border-radius: 20px;
		box-shadow: 10px 20px 30px -2px rgba(0, 164, 60, 0.4);
	
	transition: transform 0.3s ease;
}
}
	#img_container_phone{
		
		 display: none;
	}
	#img_container_planshet {
	
		
		 display: none;
	}
	


@media (max-width: 1250px) {
	
	
	.task_panel{
	width: 100%;

	margin: 10px;

	
}
	

	
	
}
@media (max-width: 1100px) {
	
	
	#img_container_planshet {
	
		
		 display: block;
	}
	
		  #task_img_container {
        display: none; /* Приховуємо зображення з ідентифікатором #task_img_container на екранах менше 600px */
    }
	
.block_task h2{
	
	font-size: 16px;
	font-weight: 800;
	color: #00a43c;
	padding-bottom: 10px;
margin: 10px;
	
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
	
	.block_task img {
    width: 100%;
	margin-right: 5px;
	margin-left: 5px;
    max-width: 25px;
    height: auto;
    transition: transform 0.1s ease;
}
	
	.block_task .task_img{
	
	 width: 100%;
	margin: auto;
    max-width: 100%;
    height: auto;
  border-radius: 0px;
		box-shadow: 10px 20px 30px -2px rgba(0, 164, 60, 0.4);
	
	transition: transform 0.3s ease;
}

}
@media (max-width: 767px) {

.task_panel{

    
	
	 background: none;
	box-shadow: none;
	
	
}
}

@media (max-width: 500px) {
	
		#img_container_planshet {
	
		
		 display: none;
	}
	
	
	#img_container_phone{
		
		 display: block;
	}


		  #task_img_container {
        display: none; /* Приховуємо зображення з ідентифікатором #task_img_container на екранах менше 600px */
    }
}
